/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;

  &-container {
    @include mq(mobile-only) {
      display: block;
      align-items: center;
      text-align: center;
    }
    @include mq(desktop) {
      display: flex;
      align-items: baseline;
    }

    &-list {
      margin-bottom: 9px;
    }
    &-list:last-child {
      margin-bottom: 0px;
    }
  }
}

.footer-tablet {
  @include mq(notDesktop) {
    margin-bottom: 60px;
  }

  @include mq(tablet-only) {
    display: flex;
    align-items: baseline;
    margin-left: 76px;
    text-align: center;
  }

  @include mq(desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer-contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  &:hover,
  &:focus {
    color: var(--acent-color);
    fill: var(--acent-color);
  }
  &-item {
    color: var(--primary-white-color);
  }
}

.logo-footer {
  margin-bottom: 20px;
  display: block;

  &-item {
    color: var(--primary-white-color);
  }
}

.accession {
  margin-left: 70px;
  @include mq(mobile-only) {
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tablet-only) {
    margin-left: 165px;
  }

  &-description {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
    line-height: 1.17;

    @include mq(mobile-only) {
      margin-top: 60px;
    }
  }

  &-list {
    display: flex;
    @include mq(mobile-only) {
      justify-content: center;
    }
  }

  &-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--acession-bg-color);
    border-radius: 50%;
  }

  &-link:hover,
  &-link:focus {
    background-color: var(--acent-color);
  }

  &-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
  }

  &-list-item {
    margin-right: 10px;
  }
  &-list-item:nth-child(4n) {
    margin-right: 0;
  }
}

.footer-forms {
  margin-left: 93px;
  margin-bottom: 60px;
  @include mq(mobile-only) {
    margin-right: auto;
    margin-left: auto;
  }
  @include mq(tablet-only) {
    margin-right: auto;
    margin-left: auto;
  }
  &-item {
    @include mq(mobile-only) {
      display: block;
    }
    @include mq(tablet-only) {
      display: block;
      align-items: center;
    }

    display: flex;
    align-items: center;
  }
  &-description {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;

    @include mq(mobile-only) {
      text-align: center;
    }
    @include mq(tablet-only) {
      text-align: center;
    }
  }
  &-input {
    @include mq(mobile-only) {
      width: 100%;
      margin-bottom: 30px;
    }

    @include mq(tablet-only) {
      margin-bottom: 30px;
      width: 450px;

      margin-left: 166px;
    }

    width: 358px;
    height: 50px;
    background-color: var(--secondary-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
  }
  &-button {
    @include mq(mobile-only) {
      margin-right: auto;
      margin-left: auto;
    }

    @include mq(tablet-only) {
      margin-right: auto;
      margin-left: auto;
    }

    display: flex;
    align-items: center;
    padding: 10px 29px;
    margin-left: 12px;
    align-items: center;

    color: var(--btn-white-color);
    background-color: var(--btn-acent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16;
    line-height: 1.87;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }
  &-svg {
    margin-left: 10px;
  }
}
